{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page-title %}article - {{ article }} {% endblock %}




<div class="row">
    {% block content %}
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img class="align-self-start mr-3" src="{% static 'images/nia.png' %}" alt="Generic placeholder image" width="200">
                    <div class="media-body">
                        <h5 class="mt-0">{{ article }}</h5>
                        <p>{{ article.description }}</p>
                        <h3>{{ article.price }}</h3>

                        <form action="{% url "cart:cart_add" article.id %}" method="post">
                            {% csrf_token %}
                            {{ form2.as_p }}
                            <input type='submit' class="btn btn-primary" value="Add to cart"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        {% endblock %}
    </div>
