{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page-title %}article - {{ article }} {% endblock %}


{% block content %}
<div class="row">
    {% for article in object_list %}
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/nia.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article }}</h5>
                <h3>Price: ${{ article.price }}</h3>
                <p class="card-text">{{ article.description|slice:":100" }}</p>
                <a href="{% url 'article_details' article.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
