{% extends "base.html" %}
{% load i18n %}

{% block page-title %}coupon - {{ coupon }} {% endblock %}

{% block content %}



<div class="row">
    <div class="col-sm-12">
        <h1>Coupons</h1>
        <a href="{% url 'coupon:coupon_add' %}" class="btn btn-primary">{%trans 'Add an coupon' %}</a></br></br></br>
        <table class="table">
            <tr>
                <td>Code</td>
                <td>Valid from</td>
                <td>To</td>
                <td>Discount</td>
                <td></td>
            </tr>
            {% for coupon in object_list %}
            <tr>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.valid_from }}</td>
                <td>{{ coupon.valid_to }}</td>
                <td>{{ coupon.discount }}%</td>
                <td>
                    <a href="{% url 'coupon:coupon_details' coupon.id %}" class="btn btn-primary">Details</a> <a href="{% url 'coupon:coupon_update' coupon.id %}" class="btn btn-success">{% trans 'Update'%}</a> <a href="{% url 'coupon:coupon_delete' coupon.id %}" class="btn btn-danger">{% trans 'Delete' %}</a></li>
                </td>

            </tr>

            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}
